aiosql
asgi-lifespan
asyncpg
attrs==21.2.0
bcrypt
black==21.12b0
docker
flake8==4.0.1
httpx
iniconfig
isort==5.10.1
mypy-extensions==0.4.3
mypy==0.910
pyflakes==2.4.0
PyPika
pyparsing==3.0.6
pytest==6.2.5
pytest-asyncio
pytest-cov
pytest-env
urllib3==1.26.7
