aiosql
alembic
appdirs
asgi-lifespan
astor
asyncpg
atomicwrites
attrs
autoflake
bandit
bcrypt
black
certifi
cffi
chardet
click
colorama
coverage
darglint
databases
dnspython
docker
docutils
email-validator
eradicate
fastapi
flake8
flake8-bandit
flake8-broken-line
flake8-bugbear
flake8-commas
flake8-comprehensions
flake8-debugger
flake8-docstrings
flake8-eradicate
flake8-fixme
flake8-isort
flake8-polyfill
flake8-quotes
flake8-rst-docstrings
flake8-string-format
gitdb
GitPython
h11
httpcore
httpx
idna
iniconfig
isort
loguru
Mako
MarkupSafe
mccabe
mypy
mypy-extensions
packaging
passlib
pathspec
pbr
pep8-naming
pluggy
psycopg2-binary==2.9.2
py
pycodestyle
pycparser
pydantic
pydocstyle
pyflakes
Pygments
PyJWT
pyparsing
PyPika
pytest
pytest-asyncio
pytest-cov
pytest-env
python-dateutil
python-editor
python-slugify
pywin32
PyYAML
regex
requests
restructuredtext-lint
rfc3986
six
smmap
sniffio
snowballstemmer
SQLAlchemy
starlette
stevedore
testfixtures
text-unidecode
toml
typed-ast
typing-extensions
Unidecode
urllib3
uvicorn
websocket-client
wemake-python-styleguide
win32-setctime
