alembic==1.7.5
databases
email-validator
fastapi==0.70.0
loguru
psycopg2-binary==2.9.2
pydantic==1.8.2
python-dotenv==0.19.2
python-multipart==0.0.5
PyJWT==1.7.1
python-slugify==5.0.2
SQLAlchemy==1.4.27
sqlalchemy-stubs==0.4
typing-extensions==3.10.0.2
uvicorn==0.16.0
